res/values/themes.xml
res/values/ic_nav_header_banner_background.xml
res/values/ic_launcher_background.xml
res/values/dimens.xml
res/values/attrs.xml
res/values/colors.xml
drawable*/
menu/
mipmap*/
nav*/
raw/
values-night/
layout/